section {
    padding: 60px 0;
}

.crop {
    width: 1000px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
}

.div-behind {
    z-index: -9;
    position: absolute;
    background: #dee7e8;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 105%;
  }

  .hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.text-justify {
    text-align: justify;
}
.spacer {
    display: inline-block;
    width: 1em;  /* Adjust the width to match the space created by "&:" */
    height: 0;  /* Ensures the span does not affect the line height */
}