{% load custom_filters %}
{% load i18n %}

<div>
    <h1>{{ itinerary.name }} ({{ itinerary.get_days_display }})</h1>
    <p><strong>{% trans "Intro:" %}</strong> {{ itinerary.intro }}</p>
    <p><strong>{% trans "Covered Highlights:" %}</strong> {{ itinerary.covered_highlights|render_markdown }}</p>
    <div>
        <strong>{% trans "Details:" %}</strong>
        {{ itinerary.details|render_markdown }}
    </div>
    <!-- {% if itinerary.image %}
        <p><strong>{% trans "Image:" %}</strong> <img src="{{ itinerary.image.url }}" alt="{% trans "Itinerary Image" %}" style="max-width: 400px;"></p>
    {% endif %} -->
    {% if itinerary.pdf %}
        <p><strong>{% trans "Download PDF:" %}</strong> <a href="{{ itinerary.pdf.url }}">{% trans "Download" %}</a></p>
    {% endif %}
    {% if itinerary.gmaps_link %}
        <p><strong>{% trans "Gmail Link:" %}</strong> <a href="{{ itinerary.gmaps_link }}">{% trans "Open Gmail" %}</a></p>
    {% endif %}
    {% if itinerary.tags %}
        <p><strong>{% trans "Tags:" %}</strong> {{ itinerary.tags }}</p>
    {% endif %}
    <a href="{% url 'products:add_to_favorites' 'itinerary' itinerary.id %}" class="btn btn-primary">{% trans "Add to Favorites" %}</a>
    <a href="javascript:void(0);" onclick="document.getElementById('itinerary-detail').innerHTML = '';">{% trans "Back to Itinerary List" %}</a>
</div>