<!-- templates/landing_page/includes/details.html -->
{% load static %}
<section id="details">
    <div class="container-lg">
        <div class="row justify-content-center mb-3 mt-2">
            <div class="col-lg-4 text-center">
                <h1>No electricity cuts</h1>
                <p align=justify> In 2024, South Africa continues to experience challenges with load shedding,
                    a practice implemented by the country's power utility, Eskom, leading to
                    frequent and widespread power outages.
                    The Station House apartment complex has its own generator and is not affected by load shedding.</p>
            </div>
            <div class="col-lg-4 text-center">
                <h1>Atlantic Seaboard side</h1>
                <p align=justify> Sea Point is a prominent and vibrant suburb located along the Atlantic Seaboard in Cape Town, South Africa.
                    Known for its scenic beauty, diverse community, and lively atmosphere, Sea Point has become a popular destination for locals and tourists alike.</p>
            </div>
            <div class="col-lg-4 text-center">
                <h1>Luxury Apartment complex</h1>
                <p align=justify> Situated on the border of Fresnaye and Sea Point, the modern Station House development embodies Cape Town’s unique coast charm.
                    Every apartment captures the essence of the city’s soul, boasting magnificent views of the majestic Table Mountain, iconic Lions Head, and the bustling city life. With a comprehensive range of amenities at your fingertips, Station House provides the ultimate living experience.
                </p>
            </div>
        </div>
    </div>
</section>